.App {
  text-align: center;
}
/* merge */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: red; /* Change this to your desired color */
  }
  100% {
    background-color: yellow;
  }
}

.dialog {
  position: fixed; /* or absolute based on your layout */
  z-index: 4; /* Set a high value */
}

.backdrop {
  position: fixed; /* Ensure it covers the viewport */
  z-index: 3; 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  width: 100%;
  height: 100%;
 
}
.luxeuploadpage{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  
}
.alertstatusimage{
   display: none;
   margin-left: 10px;
   height: 40px;
   justify-content: center;
   align-items: center;
 

}
.clientalldatacontainer{

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.clientdatamain{

  margin-left: 120px;
  margin-right: 120px;
  margin-top: 120px;

  width: 100%;
  height: auto;
  
}
.clientdatamain>*{
  flex: 1 1 100%;
  margin: 10px;
 
  border-radius: 10px;
  box-shadow: 5px 5px 5px gainsboro;

}
.clientdatainsidecontainer{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.clientdatainsidecontainer>*{
  flex: 1 1 auto;
  margin: 10px;
  height: 100%;

}
.clientdatadiv1{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin: 5px;
  flex-direction: column;
 
  
}
.clientdatadiv1 p{
  font-family: 'Montserrat',sans-serif;
  margin-left: 5px;
  padding: 5px;
  
  
   
}
.clientdatadiv2{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  margin: 5px;
  flex-direction: column;

  padding: 0px;


}
.clientdatadiv2 p{
  font-family: 'Montserrat',sans-serif;
  margin-left: 5px;
  padding: 0px;

}
.clientdatadiv3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
   max-height: 300px;
   overflow-y: scroll;
  flex-direction: column;
}
.clientdatadiv3 p{
  font-family: 'Montserrat',sans-serif;
}
.clientdatadiv4 p{
  font-family: 'Montserrat',sans-serif;
}
.labelclient{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
}
.clientdatadiv4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
   
  
  flex-direction: column;
}
.luxecontentinside{
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    height: auto;
  border: 1px solid rgb(182, 181, 181);
  border-radius: 10px;
  overflow: scroll;
}
 .luxecontentinside>*{
  flex: 1 1 auto;
  margin: 10px;

  
 }
.luxecontentinput{
  padding: 5px;
}

.uploadrepomain{
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 100px;
  background-image: url('https://arnxtdealerpageproducts.s3.ap-south-1.amazonaws.com/blue-gradient-blank-background-business_53876-120508.avif');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.inputdiv {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 


}
.inputdiv button{
  width: 150px;
  height: 60px;
  margin: 10px;
}
.inputdiv input {
  width: 300px;;
  height: 40px;
  border: 1px solid black;
}

.urldiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: 700px;
 
}
.urldiv1 {
  width: auto;
  flex: 1;
  height: 100%;
  
}
.urldiv2 {
  width: auto;
  flex: 1;
  height: 100%;
  
}
.urldiv3 {
  flex: 1;
  width: auto;

  height: 100%;
 
}
.linkimage {
  font-size: 10px;
}
.urldiv4 {
  width: auto;
  flex: 1;
  height: 100%;
}

.dimdiv {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}
.dimdiv > * {
  flex: 1 1 auto;
  height: 30px;
  width: auto;
 
}
.urldiv5 {
  flex: 1;
  width: auto;
  height: 100%;

}
.urldiv6 {
  flex: 1;
  width: auto;
  height: 100%;
 
}
.urldiv7 {
  flex: 1;
  width: auto;
  height: 100%;
}
.urldiv8 {
  flex: 1;
  width: auto;
  height: 100%;
 
}
.urldiv9 {
  flex: 1;
  width: auto;
  height: 100%;
  
}
.urldiv10 {
  flex: 1;
  height: 100%;
  
}
.checkcirclebutton{
  margin-top: 10px;
  font-size: 15px;
  color: green;
  display: none;
}

.heightdiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.heightdiv > * {
  flex: 1 1 auto;
  height: 40px;
 
}
.bulkmain{
  display: flex;
  width: 100%;
  height: 100vh;
 
  padding: 50px;
}
.bulkuploaddiv{
  width: 100%;
   height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(128, 128, 128);
  flex-direction: row;
  overflow: scroll;
  border-radius: 10px;
  padding: 10px;

  
}
.bulkuploaddiv>*{
  flex: 1 1 1000px;
 
  margin: 10px;
  padding: 10px;
 
   
}
.bulkuploadfields{
  display: flex;
   width: 100%;
   max-height: 120px;
  flex-wrap: wrap;
  
  flex-direction: column;
  

}
.bulkuploadfields>*{
  flex: 1 1 400px;
  height: 50px;
  width: fit-content;

  margin: 5px;
 
}
.bulkinputs{
  display: flex;
  justify-content: center;
  height: 100%;
 
}
.bulkinputs p{
  font-family: Manrope, sans-serif;
  margin-right: 10px;
  color: rgb(73, 73, 73);
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}
.bulkinputs input{
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
}
.bulkinputs input:focus{
  outline: none;
}
.bulkinputs button{
  width: 140px;
  height: 40px;
  border: 1px solid black;
  background-color: #8a98a0;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
 
}
.filesubmit{
  display: flex;
  
}
.filesubmit button{
  margin-right: 10px;
  border: 1px solid gray;
  background-color: #566ea7;
  border-radius: 5px;
  color: white;
  
}
.filesubmit button:hover{
 background-color: white;
 color: black;
}
.tooltipbulkimage{
  position: relative;
 max-width: 280px;
 
  height: 80px;
  overflow-x: scroll;
  border: 1px solid rgb(86, 92, 86);
 border-radius: 5px;
 display: flex;
}
 .tooltipimageinside{
 
  border: 1px solid green;
 
 }
.tooltipbulkimage img{
  max-height: 40px;
  max-width: 40px;
  object-fit: contain;
  margin: 5px;
  border: 1px solid green;
}
.bulkinputs input[type=file]{
  width: 120px;
  height: fit-content;
  margin-right: 10px;
  margin: 5px;
  border: none;
}
.bulkinputs button{
  border: none;
  background-color: #5b89a3;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.bulkinputs button:hover{
  background-color: white;
  color: black;
  border: 1px solid gray;
}


.brandqrcode{
  display: flex;
  width: 100%;
  height: 100vh;
  border: 1px solid red;
  flex-wrap: wrap;
}
.brandqrcodeinside{
  display: flex;
  margin: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid green;
}
.brandapicontainer{
  flex: 2;
  border: 1px solid blue;
  margin: 10px;
}
.brandqrcodecontainer{
  flex: 4;
  border: 1px solid red;
  margin: 10px;

}
.qrcodeimagedivcontainer{
  flex: 2;
  border: 1px solid green;
}
.qrcodeimagedivcontainer img{
  object-fit: contain;
  max-width: 200px;
  max-height: 100px;
}
.qrcodeimagecontainer{
  flex: 2;
  border: 1px solid pink;
  
}
.qrcodepatternnocontainer{
  flex: 1;
  border: 1px solid red;
}
.qrcodeinsidediv{
  display: flex;
  width: 100%;
   max-height: 800px;
  border: 1px solid green;
  flex-wrap: wrap;
  overflow: scroll;
}
.qrcodeinsidediv>*{
  flex: 1 1 300px;
  border: 1px solid blue ;
  margin: 5px;
}
.qrcodescanimage{
  
   width: fit-content;
   height: fit-content;
   padding: 10px;
   border: 1px solid green;
  
  
}
.bulkmain{
  display: flex;
  width: 100%;
  height: 100vh;
 
  padding: 50px;
}
.bulkuploaddiv{
  width: 100%;
   height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(128, 128, 128);
  flex-direction: row;
  overflow: scroll;
  border-radius: 10px;
  padding: 10px;

  
}
.bulkuploaddiv>*{
  flex: 1 1 1000px;
 
  margin: 10px;
  padding: 10px;
 
   
}
.bulkuploadfields{
  display: flex;
   width: 100%;
   max-height: 120px;
  flex-wrap: wrap;
  
  flex-direction: column;
  

}
.bulkuploadfields>*{
  flex: 1 1 400px;
  height: 50px;
  width: fit-content;

  margin: 5px;
 
}
.bulkinputs{
  display: flex;
  justify-content: center;
  height: 100%;
  
  
 
}
.bulkinputs p{
  font-family: Manrope sans-serif;
  margin-right: 10px;
  color: rgb(73, 73, 73);
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
 
  
}
.bulkinputs input{
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
}
.bulkinputs input[type='file']{
  width: 180px;
  margin-left: 5px;
}
.bulkinputs input:focus{
  outline: none;
}
.bulkinputs button{
  width: 140px;
  height: fit-content;
  border: 1px solid black;
  background-color: #8a98a0;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  margin-left: 5px;
 
}
.bulkinputs img{
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}
.tooltipbulkimage{
  position: relative;
 max-width: 280px;
 
  height: 80px;
  overflow-x: scroll;
  border: 1px solid rgb(86, 92, 86);
 border-radius: 5px;
 display: flex;
}
 .tooltipimageinside{
 
  border: 1px solid green;
 
 }
.tooltipbulkimage img{
  max-height: 40px;
  max-width: 60px;
  object-fit: contain;
  margin: 5px;
  
}
.checkcircleimage{
  display: none;
  color: green;
}
.checkcircleglb{
   font-size: 40px;
  color: green; 
  display: none;
}
.checkcircleusdz{
  display: none;
  font-size: 40px;
  color: green;
}
.checkcircleupdatedata{
  font-size: 20px;
  color: green;
  display: none;
 
}
.filesubmit{
  display: flex;
  flex-direction: column;
  
}
.filesubmit input{
  width: 200px;
  height: 50px;
  margin: 5px;
}
.filesubmit input:focus{
  outline: none;
}
.qrcodecontainer{
  opacity: 1;
  
  width: fit-content;
  height: fit-content;
  padding: 5px;
  background-color: white;
}
.filesubmit button{
  margin-right: 10px;
  border: 1px solid gray;
  background-color: #566ea7;
  border-radius: 5px;
  color: white;
  margin: 5px;
  
}
.filesubmit button:hover{
 background-color: white;
 color: black;
}
.productiddiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.productiddiv > * {
  flex: 1 1 auto;
  height: 40px;
  
}

.prodimageurldiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.prodimageurldiv > * {
  flex: 1 1 auto;
  height: 40px;
 
}

.logindiv {
  display: flex;
  width: 100%;
  height: 100%;

}
.logincontainer {
  display: flex;
  margin-left: 300px;
  width: 400px;
  height: 400px;
  border: 1px solid green;
  margin-top: 100px;
  flex-direction: column;
}

.tickmarkfbx {
  display: none;
  color: green;
 
 
}
.tickmarkglb {
  display: none;
  color: green;
}
.tickmarkgltf {
  display: none;
  color: green;
}

.emaildiv {
  width: 300px;
  display: flex;
  margin-bottom: 20px;
}
.emaildiv input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
}
.buttonadminlogin {
  width: 150px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 5px;
  border: transparent;
}
.loginbackground{
  width: 100%;
  height: 100vh;
  background-image: url('https://arnxtdealerpageproducts.s3.ap-south-1.amazonaws.com/blue-gradient-blank-background-business_53876-120508.avif');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
 
}
.tickdisplay{
  display: none;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
width:  500px;
height: 500px;


  box-shadow: 5px 5px 5px 5px #c7c6c6;
}
/* .login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}
.login input:focus{
  outline: none;
} */

/* .login input[type="text"],
.login input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;

}

.login input[type="text"]:hover {
  border-color: #394be7;
  outline: none;
  transition: all 0.2s ease-in-out;
} */

.login input[type="submit"] {
  border: none;
  background: #394be7;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  width: 100%;
  height: 50px;
}

.login input[type="submit"]:hover {
  background: #394be7;
}

.login h2 {
  margin: 20px 0 0;
  color: #394be7;
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}
.admindropdown {
  width: 100%;
  height: 50px;
}
.optroles {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
.statusbardiv{
  display: flex;
  gap: 10px;
 
  width: 100%;
  justify-content: center;
  align-items: center;

}
.statusbardiv button{
  margin: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;


}
.arnxtalldatadiv{
  display: flex;
  width: 95%;
 
  flex-wrap: wrap;
  overflow: scroll;
}
.editdiv{
  width: 700px;
  height: 600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #081c6c;
}
.profile-info {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.profile-img {
  width: 100px;
}
.profile-name {
  color: #fff;
}
.logout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  gap: 2px;
  padding: 1em;
}
.imagetickmark {
  display: none;
  color: green;
}

.logoutinside {
  display: flex;
  margin: 10px;
}
.logoutinside span {
  margin-right: 10px;
}
.button-row-logout {
  display: flex;
  gap: 0.5em;
}
.logout-button {
  background-color: yellow;
  height: 40px;
  width: 70px;
  cursor: pointer;
  border-radius: 5px;
  color: #081c6c;
}
.logout-button:hover {
  border-radius: 15px;
  background-color: #081c6c;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 99.8%;
  height: 100px;
  border: 2px solid;
  background-color: #fff526;
}
.tab-name {
  margin-top: 35px;
  cursor: pointer;
}
.applicant-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .logged-in {
    display: none;
  }
  .time-year {
    display: none;
  }
  .profile-info {
    padding: 0;
  }
  .logout {
    padding: 0;
  }
}
.tab-name.selected,
.applicant-name.selected {
  font-weight: bold;
}
.navoperation {
  font-size: 20px;
  font-family: Manrope, sans-serif;
}
.navoperation a {
  text-decoration: none;
}
.modelerassigned{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#addrolesdiv {
  display: none;
}
.modmain1 {
  display: none;
}
.modmain2 {
  display: none;

}
.modmain3 {
  display: none;
}
.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid red;
  border-radius: 4px;
}
.userdatanew {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid gray;
  height: auto;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(255, 252, 252);
}


.dimensioncontainer{
  display: flex;
  
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;

 
}

.merchanthead{
  font-size: 20px;
  font-family: Manrope, sans-serif;

}

.merchantmaindiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  margin: 10px;
  border: 2px solid  gray;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);

}

.merchantbodydiv{
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 10px;
}

.merchantcell{
  background-color: #eeec97;
  z-index: 2;
}

 .userdatadiv{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height:  500px;
  border: 1px solid gray;
   margin: 20px;
 }
 .productinfodiv{
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  height: 90%;
  border: 1px solid red;
  flex-direction: row;
  margin: 10px;
 }
 .productdetails{
  flex: 1;
  width: 300px;
  height: 90%;
  border: 1px solid green;
  margin: 10px;
 }


.imageurlcontainer{
  display: flex;
  flex-direction: column;
 
  height: 400px;
  width: auto;
  overflow: scroll;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  margin-right: 20px;

  

}
.imageurlcontainer>*{
  flex: 1 1 auto;
 
}

.imageurlbuttondiv{
  display: flex;
 
  flex-direction: row;
}
.imageurlinsidediv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid blue;
 
}
.userdatanew > * {
  flex: 1 1  250px;

  height: auto;
  margin: 10px;
  
  
}

.allmerchantdata {
  display: none;
  margin-top: 120px;
  
}

.previewimage{
  display: flex;
  flex-wrap: wrap;
  width:  100px;
  height: 100px;
  border: 1px solid rgb(190, 187, 187);
  margin : 20px;
  

}
.previewimage button{
  width: 100%;
}
.previewimage img{
  width: 100%;
  height: 100%;
}
.merchantmaincontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
 
}

.merchantmaincontainer>*{
  flex: 1 1 auto;
  
}

.allmerchantquality {
  display: none;
}

.warning1 {
  color: #eb2121;
  background-color: yellow;
  border-color: red;
  border: 1px solid green;
  display: none;
}
.warning2 {
  color: #eb2121;
  background-color: yellow;
  border-color: red;
  border: 1px solid green;
  display: none;
}
.warning3 {
  color: #eb2121;
  background-color: yellow;
  border-color: red;
  border: 1px solid green;
  display: none;
}
body {
  margin: 0;
}

.border {
  padding: 3em;
  text-align: left;
}
.banner-grid {
  padding: 1em;
  display: grid;
  height: 100vh;
  border: 2px solid rgb(214, 205, 205);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.6fr 0.6fr 0.6fr 1.2fr 1.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "department role experience deadline"
    "jobpostdate jobpostdate location location"
    "job-type number-vacancy salary job-post-date"
    "looking doing perks bonus"
    "footer footer footer footer";
  grid-gap: 2rem;
}

nav {
  grid-area: nav;
}
nav hr {
  width: 70%; /* reduce the width to 50% */
  height: 2px; /* set the height to 1.2px */
  background-color: rgb(149, 143, 231); /* set the background color to blue */
  border: none; /* remove the default border */
  float: left; /* align to the left */
}

#department {
  grid-area: department;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#role {
  grid-area: role;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.roleinput {
  border: 1px solid #ccc; /* add a border */
  padding: 10px; /* add some padding */
  font-size: 16px; /* set the font size */
  border-radius: 5px; /* round the corners */
  box-shadow: none; /* remove any box shadow */
  background-color: #fff; /* set the background color */
  color: #333; /* set the text color */
  width: 90%;
}

/* style the input when it's focused */
.roleinput:focus {
  outline: none; /* remove the default focus outline */
  border-color: #1de9b6; /* set a custom border color */
  box-shadow: 0 0 3px #1de9b6; /* add a box shadow */
}

#experience {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: experience;
}
#deadline {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: deadline;
}
#jobpostdate {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: jobpostdate;
}
#location {
  grid-area: location;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#job-type {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: job-type;
}
#number-vacancy {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: number-vacancy;
}

#salary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: salary;
}

#job-post-date {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: job-post-date;
}
#looking {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: looking;
}
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#doing {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: doing;
}

#perks {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: perks;
}
#bonus {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: bonus;
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}
.post-btn {
  background-color: rgb(76, 76, 208);
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-btn:hover {
  background-color: #5555ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.defaultmerchant{
  display: flex;

  width: auto;
  flex-wrap: wrap;
  height: auto;
 
}
@media only screen and (max-width: 750px) {
  .banner-grid {
    height: 2500px;
    padding: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 3fr 3fr 3fr 3fr 2fr;
    grid-template-areas:
      "nav"
      "department"
      "role"
      "experience"
      "deadline"
      "jobpostdate"
      "jobpostdate"
      "location"
      "location"
      "job-type"
      "number-vacancy"
      "salary"
      "job-post-date"
      "looking"
      "doing"
      "perks"
      "bonus"
      "footer";
  }
  .border {
    padding: 1em;
  }
  .logged-in {
    display: none;
  }
  .time-year {
    display: none;
  }
  .profile-info {
    padding: 0;
  }
  .logout {
    padding: 0;
  }
}
[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}
h6 {
  display: inline;
}
/* input  {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
} */
.container {
  margin: 2em auto;
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #a6c842;
  color: #ffffff;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #9cc204;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
input[type="file"] {
  width: 150px;
  
 
 
 
 
 

} */
.merchantdatacontainer{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  
}
.merchantdatacontainerinside{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
  height:  500px;
  width: 1200px;
  border: 5px dashed rgb(115, 115, 173);
  margin: 10px;
  border-radius: 10px;
}
.merchantdatacontainerinside>*{
  flex: 1 1 auto;
  margin: 20px;
 
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0px;
}
.merchantdatadetail{
   display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
 
 width: 95%;
 height: auto;
}
.merchantdatadetail>*{
  flex: 1 1 300px;
  
}
.merchantdatadetail label{
  font-size: 20px;
  font-family: monospace;
}
.merchantdatadetail p{
  font-size: 15px;
  font-family: monospace;
  border-bottom: 1px dotted gray;
  background-color: #a5cfc5;
}
.imagesdivmerchant{
  display: flex;
  width: 95%;
 height:  200px;
flex-wrap: wrap;
 flex-direction:  column;
 margin: 10px;
  
  overflow-y: scroll;
 
  
}
.imagesdivmerchant>*{
  flex: 1 1 40px;
  
  
  width:  150px;
  height: 150px;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
   margin-bottom: 10px;
  
}
.imagesdivmerchant img{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
 
}
.imagesdivmerchant a{
 
}
.statustabthree{
  display: flex;
  width:  300px;
 
height: 200px;
  flex-direction: column;
 
  margin-bottom: 10px;
 
}
.statusinside{
  display: flex;
 
 
}
.updatedatacontainer{
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: fit-content;
  padding: 10px;
 
  height: 400px;
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: center;
 
}
.updatedatacontainer input{
  width:  250px;
}

.updatedatacontainer button{
  margin-left: 5px;
 
}
.statustab2 input{
  margin-left: 35px;
}


.statustab1{
 display: flex;
 flex-wrap: wrap;
 
 
  
}
.statustab2{
  display: flex;
  flex-wrap: wrap;
  
}

.statustab3{ 
  flex: 1;
  
  
}
.statustabthreee label{
  
   
  font-family: monospace;
  font-size: 20px;
  border: 1px solid green;
  
}
.statustabthree select{
 
   width: 150px;
   margin-left: 40px;
 
}

.statustab{
  display: flex;
  width: 100%;
 

  flex-direction: row;
  flex-wrap: wrap;
  
  margin-bottom: 10px;
}
.statustab label{
 
  font-family: monospace;
  font-size: 20px;

   padding: 10px;
  border: 1px solid green;
  border-radius: 10px;
}
.statustab p{
  flex: 1;
  font-family: monospace;
  font-size: 15px;
 
  padding: 10px;
 
  border: 1px solid green;
  border-radius: 5px;
}


/* input[type="text"]:focus {
  border: 2px solid #555;
} */

.text-center {
  text-align: center;
}
.highlight-row {
  background-color: #eaf3d2;
}

model-viewer {
 
  overflow-x: hidden;
}
.modalcontainerar{
  display: flex;
  width: 400px;
  height: 600px;

}

#ar-button {
  background-image: url(https://cdn.glitch.global/66a9aadc-16d1-4ae0-b613-4d181051d3c1/ar_icon.png?v=1680846317848);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 2px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

.productsQuickView.qrModal .modal-dialog {
  max-width: 400px;
  width: 95vw;
}
.productsQuickView.qrModal .modal-content {
  padding: 0px;
  background: #011c4b;
}


model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 175px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

model-viewer > #ar-failure {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 175px;
  display: none;
}

model-viewer[ar-tracking="not-tracking"] > #ar-failure {
  display: block;
}


hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
}
.table th.vertical-line,
.table td.vertical-line {
  border-left: 1px solid #9cc204;
}
.tab-name.selected,
.applicant-name.selected {
  font-weight: bold;
}

.merchantalldata{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height:  450px;
  border: 2px solid rgb(212, 211, 211);
  margin: 10px;
  border-radius: 10px;
}

.merchantalldata>*{
  flex: 1 0 200px;
 
  margin: 10px;
  height: 250px;

  border-radius: 10px;
  
}

.merchantdivinside{
 
  background-color: #ddd;
 
}
.merchantdivinsideimage{
  background-color: #ddd;
  overflow: scroll;
}


.merchantidcontainer{
  display: flex;
 
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(180, 177, 177);
 
  
 
}
.merchantidcontainer h2{
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
 
}

.merchantmodelerdiv h2{
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
 
}
.merchantidcontainer p{
  font-size: 18px;
  font-family: monospace;
  background-color: #9cc204;
  
}
.viewproductcontainer button{
  width: 180px;
  height: 40px;
  border: none;
  background-color: rgb(173, 173, 98);
  color: black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
.viewproductcontainernew button{
  width: 180px;
  height: 40px;
  border: none;
  background-color: rgb(173, 173, 98);
  color: black;
  border-radius: 10px;
  cursor: pointer;
 
}
.modalscan {
  position: fixed;
  display: none;
  display: -ms-flexbox;
  
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31, 32, 41, 0.75);
 
  opacity: 1;
  transition: opacity 250ms 700ms ease;
}
.closemodalscan {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  
  
}
.productviewnone{
  display: none;
}
.modalcontainerar{
  display: flex;
  width: 400px;
  height: 600px;
 
  
}
.dataupload {
  margin-top: 20px;
  font-size: 30px;
  font-family: Manrope, sans-serif;
}
.modal-wrapscan {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  height: 600px;
  padding-top: 80px;

  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
  opacity: 1;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrapscan p{
  margin-top: 60px;
 
}

.viewproductsdata{
  display: none;
  position: relative;
  width: 400px;
  left: 300px;
  top: -250px;
  height: 400px;
 border: 1px solid gray;
 border-radius: 10px;
  background-color: rgb(194, 190, 190);
  

}
.closeproductview{
  float: right;
  padding: 10px;
}
.productdetailsinside{
  display: flex;
  width: 95%;
  height: 350px;
 
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
  padding-left: 10px;
  
}
.productdetailsinside>*{
  flex: 1 1 250px;
 
  height: auto;
  
}
.productdetailsinside label{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-family: monospace;
}
.productdetailsinside p{
  font-family: monospace;
  font-size: 17px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(70, 68, 68);
}

.productidcontainer{

  display: flex;
 
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(180, 177, 177);
 
 
 
 
}
.productidcontainer label{
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  margin-right: 10px;
 
}
.productidcontainer p{
  font-size: 18px;
  font-family: monospace;
  background-color: #9cc204;
  
}
.productidcontainer button{
  margin-right: 10px;
 
}
.productidcontainer input{
  width: 300px;
}
.productidcontainer select{
  margin-right: 10px;
 

  
}

.dimcontainer{
  height: 300px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catagorysubmit{
  display: flex;
  width: auto;
  height:  100%;
 
  flex-direction: row;
  flex-wrap: wrap;
 margin: 20px;
}
.catformdisplay label{
  font-size: 20px;
  color: black;
  font-weight: bol;
}

.catagorysubmit>*{
  flex: 1 1  300px;
  border: 1px solid rgb(149, 156, 149);
  margin: 10px;

 
 

}
.itemnamevalue{

  height:  200px;
  overflow: scroll;
}

.inputcategory input{
  width: 200px;
}


.addTagBox{
  width: 250px;
  height: 150px;
 
  border-radius: 15px;

 
  box-sizing: border-box;
  padding: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
 
 
 
}
.addTagBox > h5{
  margin: 0;
  color: #282828;
  font-size: 1rem;
}
.addTagInput{
 
  display: flex;
 
  flex-wrap: wrap;
 
}
.inputTag{
  border: none;
  font: inherit;
  max-width: 6rem;
}
.inputTag:focus{
  outline: none;
}


.tags{
  background-color: #ECECF8;
  padding: 5px 10px;
  border-radius: 50px;
  display: flex;
  grid-gap: 5px;
  align-items: center;
}
.crossIcon{
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  padding: 2px;
  cursor: pointer;
}

.formdiv{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  flex-wrap: wrap;
 

}
.formdiv>*{
  flex: 1 1 auto;
  width: 100%;
  height: 80px;

  margin: 10px;
  
}

.forminputdiv{
  display: flex;
  align-items: row;
  flex-wrap: wrap;
  width: 500px;
  height: 600px;

}
.forminputdiv input{
  width: 200px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  height: 40px;
  margin-right: 20px;

}
.forminputdiv button{
  width: 120px;
  height: 40px;
}
.forminputdiv label{
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
.suggestdiv{
  display: flex;
  width: 400px;
 
}
.displayheading{
  font-size: 18px;
  font-weight: bold;
}
.displaycell{
  font-size: 15px;
  background-color: rgb(162, 212, 196);

}

.displayuploaded{
 display: none;
 flex-direction: row;
 flex-wrap: wrap;
    width: 100%;
    height: auto;
    border: 2px solid gray;
    margin-top: 80px;
}
.displayuploaded>*{
  flex: 1 1 auto;
  border-right: 1px solid rgb(59, 58, 58);
  padding: 10px;
  
}

.alldatacontainer{
  margin-top: 60px;
}

.alldatacontainer a{
  text-decoration: none;
}
.alldatacontainer button{
  width: 120px;
  height: 30px;
}

.keyvalueinput{
  display: flex;
  margin: 10px;
 
}

.keyvalueinput input[type='text']{
  width: 160px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray; ;
}
.inputfirst{
 margin: 10px;
}

.inputsecond{
 margin: 10px;
  width: 120px;
  height: 60px;
 
}
.inputformcontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;

  margin-top: -80px;
  overflow: scroll;
 
  padding-left: 40px;
}

.add-btn{
  margin-right: 10px;
}
.carouseldiv{
  display: flex;
  width: 400px;
  height:  600px;
  flex-wrap: wrap;
  border: 1px solid red;
  flex-direction: column;
  overflow: scroll;
}
.carouseldiv img{
  padding: 10px;
  width:  250px;
  height: 250px;
  object-fit: contain;
}

.inputformcontainer label{
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -350px;

}

.submitbutton{
  display: flex;
  width: 120px;
  height: 50px;
  margin-left: 150px;
  margin-top: 120px;
 

  
}
.submitbutton button{
  width: 120px;
  height: 50px;
  border: 1px solid green;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

/* ModelRequestedTable.css */
.center-cell {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  
}
.requestmodelheading{
  margin-bottom: 20px;
  font-family: 'Roboto', 'sans-serif';

}

.header-theme {
  background-color: #cfccdc; /* Header background color */
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  height: 60px;
  line-height: 60px; 
}

iframe#webpack-dev-server-client-overlay{display:none!important}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .userdatanew{
      width: auto;
      
    }

  
      



  }
